.productos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto;
    grid-template-areas: 
        'titulo'
        'deck';
}
.tituloProduct{
    grid-area: titulo;
    justify-self: center;
    color: var(--color-blue);
    font-size: 4em;
}
.deck{
    grid-area: deck;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-template-rows: auto;
    gap: 2rem;
}


