@import url('https://fonts.googleapis.com/css?family=Poppins:300.400,500,600,700,800,900&display=swap');
@import 'navbar.css';
@import 'footer.css';
@import 'product.css';
@import 'card.css';
:root {
    --color-blue: hsl(270, 95%, 20%);
    --color-lightblue: hsl(190, 90%, 40%);
    --color-greyblue: hsl(270, 25%, 40%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background: var(--color-lightblue);
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 15vh 1fr auto;
    grid-template-areas: 
        'navbar'
        'contenido'
        'footer';
    gap: 2rem;
}
header {
    grid-area: navbar;
}
main{
    grid-area: contenido;
}
.scrollDown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -100px;
    color: var(--color-blue);
    font-size: 4em;
}
.titleScroll{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    /* 50% mitad pantalla horizontal, 0% arriba vertical */
    /* 100% lado derecho pantalla horizontal, 50% pantalla vertical */
    /* 50% mitad pantalla horizontal, 100% pantalla vertical */
    /* 0% izquierda pantalla horizontal, 50%  pantalla vertical */
    clip-path: circle(0px at center center);
}
.innerText {
    position: fixed;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 1;
    font-size: 10vw;
    color: #fff;
    text-align: center;
    width: 100%;
}
.text {
    position: fixed;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 1;
    font-size: 10vw;
    color: #b97cc4;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px var(--color-blue);
    text-align: center;
    width: 100%;
}
.container {
    position: relative;
    margin-top: 200vh;
    background: var(--color-blue);
    padding: 100px;
    color: #fff;
}
.container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
