{% extends 'base.html' %}
{% block content %}
<main>
    <h3 class="scrollDown">Scroll Down</h3>
    <h2 class="text">Todo lo que necesitas</h2>
    <section class="titleScroll">
        <div>
            <h2 class="innerText">Todo lo que necesitas</h2>
        </div>
    </section>
    <section>
        <div class="container">
            <h2 id="quienesSomos" >Quienes Somos.</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, ullam. Neque, aspernatur quod? Rem laboriosam distinctio cupiditate vel quas aperiam? Nulla hic vero quia provident nihil obcaecati dolore ab eum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, impedit. Excepturi nihil illum vitae, explicabo harum ad odio doloremque ullam omnis saepe? Eos, obcaecati provident error laboriosam corporis quaerat ea?
                <br><br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, ullam. Neque, aspernatur quod? Rem laboriosam distinctio cupiditate vel quas aperiam? Nulla hic vero quia provident nihil obcaecati dolore ab eum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, impedit. Excepturi nihil illum vitae, explicabo harum ad odio doloremque ullam omnis saepe? Eos, obcaecati provident error laboriosam corporis quaerat ea?
                <br><br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, ullam. Neque, aspernatur quod? Rem laboriosam distinctio cupiditate vel quas aperiam? Nulla hic vero quia provident nihil obcaecati dolore ab eum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, impedit. Excepturi nihil illum vitae, explicabo harum ad odio doloremque ullam omnis saepe? Eos, obcaecati provident error laboriosam corporis quaerat ea?
                <br><br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, ullam. Neque, aspernatur quod? Rem laboriosam distinctio cupiditate vel quas aperiam? Nulla hic vero quia provident nihil obcaecati dolore ab eum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, impedit. Excepturi nihil illum vitae, explicabo harum ad odio doloremque ullam omnis saepe? Eos, obcaecati provident error laboriosam corporis quaerat ea?
                <br><br>
            </p>
        </div>
    </section>
</main>

{% endblock  %}